// Blue - Teal | Elevotion
#classic-body[style*="rgb(0, 121, 191)"] #surface {
	background: linear-gradient(#0079BF 0%, #1EBDD2 50%, #B5EFA1 100%) !important;
}
// Orange
#classic-body[style*="rgb(210, 144, 52)"] #surface {
	background: linear-gradient(#D29034 0%, #EB9606 50%, #2A241C 100%) !important;
}
// Green
#classic-body[style*="rgb(81, 152, 57)"] #surface {
	background: linear-gradient(#519839 0%, #A3D21E 50%, #B5EFA1 100%) !important;
}
// Red
#classic-body[style*="rgb(176, 70, 50"] #surface    {
	background: linear-gradient(#BA311B 0%, #D2881E 75%, #D37319 100%) !important;
}
// Purple | Trello Ergo
#classic-body[style*="rgb(137, 96, 158)"] #surface  {
	background: linear-gradient(#5461C0 0%, #801ED2 47%, #963CD3 79%, #972ED8 100%);
}
// Pink
#classic-body[style*="rgb(205, 90, 145)"] #surface  {
	background: linear-gradient(#EA537D 0%, #D04FD0 50%, #D415FF 100%) !important;
}
// Green - Blue
#classic-body[style*="rgb(75, 191, 107)"] #surface  {
	background: linear-gradient(#4BBF6B 0%, #4FD0C1 50%, #15ABFF 100%) !important;
}
// Blue - Purple | Sepshun
#classic-body[style*="rgb(0, 174, 204)"] #surface   {
	background: linear-gradient(90deg, #00C0FF, #C301FF) !important;
}
// Grey
#classic-body[style*="rgb(131, 140, 145)"] #surface {
	background: linear-gradient(#838C91, #424242) !important;
}


// Blue - Teal | Elevotion
.jIdzAr {
	background: linear-gradient(#0079BF 0%, #1EBDD2 50%, #B5EFA1 100%) !important;
	background-image: linear-gradient(#0079BF 0%, #1EBDD2 50%, #B5EFA1 100%) !important;
}

// Orange
.gcwFWE {
	background: linear-gradient(#D29034 0%, #EB9606 50%, #2A241C 100%) !important;
	background-image: linear-gradient(#D29034 0%, #EB9606 50%, #2A241C 100%) !important;
}

// Green
.gKghyc {
	background: linear-gradient(#519839 0%, #A3D21E 50%, #B5EFA1 100%) !important;
	background-image: linear-gradient(#519839 0%, #A3D21E 50%, #B5EFA1 100%) !important;
}

// Red
.lhplpC {
	background: linear-gradient(#BA311B 0%, #D2881E 75%, #D37319 100%) !important;
	background-image: linear-gradient(#BA311B 0%, #D2881E 75%, #D37319 100%) !important;
}

// Purple | Trello Ergo
.iSgcin {
	background: linear-gradient(#5461C0 0%, #801ED2 47%, #963CD3 79%, #972ED8 100%) !important;
	background-image: linear-gradient(#5461C0 0%, #801ED2 47%, #963CD3 79%, #972ED8 100%) !important;
}

// Pink
.gGrdwu {
	background: linear-gradient(#EA537D 0%, #D04FD0 50%, #D415FF 100%) !important;
	background-image: linear-gradient(#EA537D 0%, #D04FD0 50%, #D415FF 100%) !important;
}

// Green - Blue
.ciMgDt {
	background: linear-gradient(#4BBF6B 0%, #4FD0C1 50%, #15ABFF 100%) !important;
	background-image: linear-gradient(#4BBF6B 0%, #4FD0C1 50%, #15ABFF 100%) !important;
}

// Blue - Purple | Sepshun
.eImmIK {
	background: linear-gradient(90deg, #00C0FF, #C301FF) !important;
	background-image: linear-gradient(90deg, #00C0FF, #C301FF) !important;
}

// Grey
.jTrnVz {
	background: linear-gradient(#838C91, #424242) !important;
	background-image: linear-gradient(#838C91, #424242) !important;
}

.jIdzAr, .i5gcin, .gcwFWE {
	background-repeat: no-repeat !important;
	background-size: auto !important;
}
