.eft-list-actions {
  position: absolute;
  right: 34px;
  top: 0; }
  .eft-list-actions div {
    float: left;
    cursor: pointer; }
    .eft-list-actions div.eft-list-color {
      width: 12px;
      height: 12px;
      background: #752FCE;
      border-radius: 50%;
      margin-top: 14px;
      opacity: 0;
      margin-right: -12px;
      -webkit-transition: 0.2s ease;
      -o-transition: 0.2s ease;
      transition: 0.2s ease; }
    .eft-list-actions div.eft-card-count {
      margin: 10px 6px;
      color: gray; }
      .eft-list-actions div.eft-card-count .eft-card-limit-off {
        display: none; }

.list-header:hover .eft-list-color {
  margin-right: 2px;
  opacity: 1; }
