// Variable
$dark        : hsl(0,0%,10%);
$light-dark  : hsl(0,0%,20%);
$brand-bright: #972ED8;
$brand-dull  : #5152B1;

// Import Font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
* { font-family: 'Open Sans', sans-serif; }

// Input Defaults
input[type='text']   { border-radius: 0; border: none; }
input[type='submit'] { border-radius: 0; }
input[type='submit'][disabled] { background: transparent; }
input[type='submit'][disabled]:hover { background: transparent; }

// MISC
label { padding: 0 6px; }
button.negate { border-radius: 0; }
u.bottom, p { padding: 6px; }
.header-woof { display: none; }
.js-palette-color {
	margin: 0 6px 10px 6px !important;
	border-radius: 0;
}
.u-fancy-scrollbar::-webkit-scrollbar { width: 4px; }
.u-fancy-scrollbar::-webkit-scrollbar-thumb {
	background: hsla(0,0%,100%,0.5) !important;
	border-radius: 0 !important;
}
.u-fancy-scrollbar::-webkit-scrollbar-track-piece {
	background: hsla(0,0%,15%,0.2) !important;
	border-radius: 0 !important;
}
.card-detail-window .card-label, .pop-over .card-label {
    width: auto !important;
    min-width: 40px !important;
    border-radius: 0px !important;
    margin: 0;
} /* Fix for Card Labels */


// Popover Fixes
.pop-over-content .phenom-creator { margin-left: 4px !important; }
.pop-over-content h4 { padding: 6px; }
.pop-over-content .inline-member,
.pop-over-content .comment-container p,
.pop-over-content .tip-text { color: black; }

// Tabbed Pages
.body-tabbed-page { background: linear-gradient(hsl(0,0%,15%), hsl(0,0%,10%)) !important; }
hr {
	color: hsla(0,0%,100%,0.5) !important;
	background: hsla(0,0%,100%,0.5) !important;
}
.tabbed-pane-header,
.tabbed-pane-header-details-content p,
.tabbed-pane-header-details-content p a { color: hsl(0,0%,70%); padding: 6px 0; }

// Background 1
.tabbed-pane-nav,
.tabbed-pane-header,
.tabbed-pane-main-col,
.list-card-edit-title.js-edit-card-title { background: $dark !important; }

// Background 2
#content .member-login,
.bc-active-status { background: transparentize($light-dark, 0.8) !important; }

// Partial Transparent Background
.quick-card-editor-buttons { background: transparentize($dark, 0.05) !important; }


// No Background
a.quick-card-editor-buttons-item { background: transparent !important; }

// COLOR WHITE
form h3,
.billing-summary h3,
.billing-plan-title,
.subscribe-title span,
.icon-business-class-color,
.billing-intro-list-item h3,
.billing-intro-header-title span,
#content .window-module .card-detail-window .phenom-desc,
#content .window-module .card-detail-window .phenom-desc a:hover,
#content .window-module .card-detail-window .phenom-meta.quiet a:hover,
#content .window-module .card-detail-window .big-link:hover,
#content .window-module .card-detail-window .quiet-button:hover,
#content .window-module .card-detail-window .member-applications-list-item-details,
.list-card-edit-title.js-edit-card-title { color: white; }
.board-menu-container .phenom-desc span span { color: hsl(0,0%,50%); }

// COLOR LIGHT GRAY
strong,
form label,
.billing-summary span,
.org-list li a .item-name,
.billing-intro-list-item p,
#content .window-module .phenom-desc a,
#content .window-module .phenom-meta.quiet a,
#content .window-module .big-link { color: hsl(0,0%,70%); }

.markeddown ul>li { color: hsl(0,0%,60%); }
pre {
	background-color: transparentize($light-dark, 0.5) !important;
	border-color: transparent !important;
	code { background-color: transparent !important; color: hsl(0,0%,70%); }
}
pre::-webkit-scrollbar-track-piece { background: transparent !important; }

// BACKGROUND TRANSPARENT
.billing-summary tbody,
#content .window-module .big-link,
#content .window-module .big-link:hover,
#content .window-module .member-login,
#content .window-module .quiet-button:hover { background: transparent; }

// NO BORDER
.bc-active-status,
#content .window-module .member-login { border: none; }

// NO BORDER RADIUS
.open-card-composer,
.list-card-edit-title.js-edit-card-title { border-radius: 0 !important; }


// MISC
.save-info span { color: #61BD4F !important; }
// Trello Gold - Active
#content .bc-active-status.active .icon-trello-gold,
#content .bc-active-status.active span,
#content .bc-active-status.active a { color: #ffc800 !important; }
#content .member-profile-gold-badge { background: #ffc800 !important; }

// Trello Gold - Not Active
#content .bc-active-status .icon-trello-gold,
#content .bc-active-status span,
#content .bc-active-status a { color: #d8c272 !important; }


.tabbed-pane-header-details-content p { margin-bottom: 0; }
.js-cancel-edit-profile { border-radius: 0 !important; }
.tabbed-pane-nav {
	border-bottom: none;
	.tabbed-pane-nav-item a {
		background: transparent;
		border: none !important;
		border-radius: 0;
		color: white;
		margin: 0;
		&.active { color: black; background: white; }
	}
}
.tabbed-pane-header-details-name h1,
.window-module-title h3,
.member-list-item-detail .full-name { color: white !important; }
.button-link {
	background: transparent;
	box-shadow: none !important;
	color: hsl(0,0%,20%);
	&:not(.js-simple-add-members):not(.fakefile):not(.setting) { color: hsla(0,0%,100%,0.5); }
	&:hover { background: transparent !important;
		&:not(.js-simple-add-members):not(.fakefile):not(.setting) { color: white; }
	}
	&.disabled { background: transparent; color: hsl(0,0%,30%); }
}
.pop-over .button-link { color: hsl(0,0%,20%) !important; }
.primary.button-link {
	background: transparent;
	color: #61BD4F;
	span { color: #61BD4F !important; }
	&:hover {
		color: lighten(#61BD4F, 15);
		span { color: lighten(#61BD4F, 15) !important; }
	}
}
.org-members-page-navigation-list-header { color: white; }
.option.quiet-button { background: transparent !important; text-decoration: none; }
.member-list-item-detail { border-bottom: none; }
.js-profile-form {
	label { color: white; }
	input[type="text"], textarea {
		background: hsla(0,0%,20%,0.2);
		color: white;
		border: none;
		&:focus { background: hsla(0,0%,30%,0.2); color: white; outline: none; box-shadow: none; }
	}
}
#content .window-module-title { border-bottom: 1px solid hsl(0,0%,50%); }
.window-module p { color: hsl(0,0%,70%); }
.org-bc-settings {
	background: hsla(0,0%,20%,0.2);
	border-radius: 0;
	.org-bc-settings-header span { color: hsl(0,0%,70%); a { color: white; &:hover { color: white; } } }
}
.org-list li {
	border: none;
	a { border-radius: 0; }
	&:hover a { background: transparent; }
	&:hover a .item-name { color: white !important; }
}
.org-list li a:hover .icon-sm { color: #EB5A46 !important; }
.setting-item-action a { background: transparent !important; }
.slack-button { margin-right: 24px; }
.button-link.tabbed-pane-header-details-edit.js-edit-profile { padding: 7px 0 0 0; }
.card-detail-badge {
	background: hsla(0,0%,100%,0) !important;
	border-radius: 0px !important;
	color: hsla(0,0%,100%,0.75) !important;
	padding: 8px 0 !important;
	transition: .1s ease-in-out;

	&:hover {
		background: transparent !important;
		color: white !important;
	}

	.card-detail-badge-due-date-complete-box {
		border: 1px solid white !important;
		border-radius: 50% !important;
		background: transparent !important;
	}

	&.is-due-complete {
		padding: 8px !important;
		border-radius: 20px 0 0 20px !important;
		background: #61BD4F !important;
	}
}



// -------------------------------------
// HEADER ------------------------------
#header {
	padding: 0;
	height: 42px;
	background: hsla(0,0%,10%,0.8) !important;

	.header-btn {
		border-radius: 0;
		background: transparent;
		padding: 6px;
		margin-right: 0;
		&:hover { background: hsla(0,0%,100%,0.1); }
	}
	.header-logo { top: 6px; }
}

// Header - Boards
.header-boards { padding-left: 26px !important; .header-btn-icon { margin-top: 6px; } }
.boards-drawer {
	border-radius: 0;
	top: 42px;

	&.boards-drawer-pinned { top: 0; }

	.board-drawer-content {
		margin: 0;

		input {
			border: none;
			margin: 0 0 0 0 !important;
			width: 100%;
			padding: 12px 8px;
		}

		.sidebar-section-header-toggle-icon {
			background: transparent !important;
			border-radius: 0;
		}

		.compact-board-tile { padding: 0; }
		.compact-board-tile,
		.compact-board-tile-wrapper,
		.compact-board-tile-background,
		.compact-board-tile-fade,
		.compact-board-tile-link { height: 42px; border-radius: 0 !important; }
		.compact-board-tile-link-background { background: transparent !important; }
		.compact-board-tile-link { align-items: cetner; }
		.compact-board-tile-link-thumbnail {
			border-radius: 0;
			height: 42px;
			width: 42px;
		}
	}
}

// Header - Search
.header-search {
	background: transparent;
	margin-right: 0;

	.header-search-input {
		height: 42px !important;
		border-radius: 0 !important;
		background: hsla(0,0%,100%,0.05) !important;
		transition: 0.1 ease !important;
		color: white !important;
		&:focus { background: hsla(0,0%,100%,0.3) !important; }
	}

	.header-search-icon { margin-top: 6px; }
}
.search-results-section-header, .js-open-help, .js-open-help-query { margin: 6px 0 6px 8px; }
.search-result-card-highlight-card .search-result-card-container .list-card {
	box-shadow: 0 3px 0px rgba(0,0,0,0.3);
	border-radius: none;
}
.header-search-icon { color: white; }

// Header - User Actions
.header-user { top: 0; }
.js-open-add-menu span, .header-info span, .header-notifications span { margin: 6px; }


// -------------------------------------
// POPOVERS ----------------------------
.pop-over {
	border: none;
	border-radius: 0;

	.pop-over-content {
		margin: 0 !important;
		padding: 0 !important;
	}

	.pop-over-header-title { margin: 0; }
	.pop-over-list li { padding: 0 6px; }
	.tip-text { margin-top: 12px; }
}


// -------------------------------------
// HOME PAGE ---------------------------
.boards-page-board-section-list-item { padding: 0; }
.boards-page-board-section-header-name { color: white; }
.boards-page-board-section-header-options-item { background: transparent; }
.boards-page-board-section-header-options-item:hover { background: transparent; }
.boards-page-board-section-header-options-item:hover span { color: white !important; }
.boards-page-board-section-header-icon img { border-radius: 50%; }
.board-tile {
    border-radius: 0;
    margin: 0;
    height: 128px;
    opacity: 0.8;
    transition: 0.1s ease;
}
.board-tile:hover { opacity: 1; }
.board-tile.mod-add {
    background: transparent;
    color: white;
    height: 8pc;
}
.board-tile.mod-add:hover {
    background: hsla(0,0%,100%,0.1);
    color: white;
}
.board-tile-fade { background: transparent !important; }


// -------------------------------------
// BOARD CONTENT -----------------------
#board { margin-bottom: 0; }
.board-header {
	padding: 0;
	height: 42px;
	margin-bottom: 6px;

	img + .board-header-btn-text { padding-left: 16px !important; }
	.board-header-btn-name-org-logo {
	    top: 5px;
	    left: 5px;
	    width: 32px !important;
	    height: 32px !important;
		border-radius: 0 !important;
	}
	.board-header-btn-name-with-org-logo span { padding-left: 3pc !important; }
	.board-header-btn {
		padding-top: 6px !important;
		padding-bottom: 6px !important;
		border-radius: 0;
		height: 42px;
		margin-right: 0;
		transition: background 0.1s ease;
		&:hover { background: hsla(0,0%,100%,0.3) !important; }
		span { margin-top: 6px; }
		&.board-header-btn-enabled { background: transparent; }
	}
	.board-header-btn-name { padding-right: 6px; }

	.mod-left {
		opacity: 0.5;
		transition: opacity 0.1s ease;
		&:hover { opacity: 1; }
	}
	.mod-show-menu span { margin-top: 7px; }
	#total-card-count { padding: 6px; }
	.card-count { display: inline-block; float: left; padding: 4px 2px; font-size: 12px; }
	.board-header-btn-divider { display: none; }
}


// -------------------------------------
// LISTS -------------------------------
.list-wrapper { margin: 0 2px; }
.list {
	background: hsla(0,0%,10%,0.8) !important;
	border-radius: 0;

	.card-count {
		color: hsla(0,0%,100%,0.4);
		position: absolute;
		right: 28px;
		top: 4px;
	}

	.list-header { padding: 0; }
	.list-header-name {
		color: white !important;
		padding: 12px;
		max-height: none;
		margin: 0 !important;
		border-radius: 0 !important;
		&.is-editing { background: hsla(0,0%,10%,0.3) !important; }
	}
	.list-header-name-assist { color: white !important; }
	.js-list-name-input {
		border: none !important;
		padding: 12px !important;
		&:focus {
			background: hsla(0,0%,10%,0.3) !important;
			box-shadow: none !important;
		}
	}
	.list-header-extras { margin-top: 3px; }
	.list-header-extras-menu {
		span { color: hsl(0,0%,50%); margin-top: 1px; }
		&:hover { background: transparent !important; span { color: white !important; } }
	}

	.list-cards {
		margin: 0;
		padding: 0;
		background: hsla(0,0%,10%,0.5);
	}
}
// List Cards
.list-card {
	background: hsla(0,0%,100%,0.05);
	border: none;
	margin-bottom: 2px;
	border-radius: 0;
	&.placeholder { background: hsla(0,0%,10%,0.5); }
	&.active-card { background: hsla(0,0%,100%,0.15) !important; }

	.list-card-title { color: white; }
	.icon-sm {
		background: transparent;
		color: hsl(0,0%,50%);
		&:hover { color: white !important; }
	}
	.list-card-composer-textarea { color: white; }

	.card-label {
		width: 8px !important;
		min-width: 0 !important;
		border-radius : 32px !important;
	}
	.open-card-composer { border-radius: 0; }
	.list-card-composer-textarea { color: white; }
}
.badge.is-complete { background-color: hsla(0,0%,100%,0.2); border-radius: 0; }
.calendar-wrapper .list-card-title { color: black; }

// Label Fix
.body-card-label-text .card-label.mod-card-front {
	width: auto !important;
	min-width: auto !important;
}

// DESCRIPTION FIX ON PROFILE PAGE
.action-comment {
	background: transparent !important;
	box-shadow: none;

	.current-comment { padding: 6px 0; }
	p { color: hsla(0,0%,100%,0.5); padding: 2px 0; }
	.comment-box-input { background: hsla(0,0%,100%,0.05) !important; border-radius: 0 !important; }
}
.comment-box textarea:focus {
	background: transparent;
}
.board-menu .action-comment p { color: black; }
.phenom-desc {
	color: hsl(0,0%,70%) !important;
	.inline-member { color: white !important; }
}

// -------------------------------------
// CARD WINDOW -------------------------
.window {
	border-radius: 0 !important;
	background: hsla(0,0%,10%,0.95);
	a:hover { color: white !important; }

	.card-detail-window {
		.window-title { padding: 0; }
		.mod-card-back-title {
			color: white !important;
			padding: 3px 0 !important;
			height: 32px !important;
			border-radius: 0 !important;
			border: none !important;
			box-shadow: none !important;
			width: 98%;
			transition: 0.1s ease;
			&.is-editing {
				background: hsla(0,0%,100%,0.1) !important;
				padding: 3px 8px !important;
			}
		}

		.icon-lg { color: hsla(0,0%,100%,0.5); }
		.u-inline-block.u-bottom { padding: 6px 0; }
		.card-detail-item-header.js-show-with-desc, .card-detail-item-header, h3 { color: white; }
		.description-content { color: hsl(0,0%,70%); }
		.js-card-desc p { padding: 6px 0; }
		.card-detail-edit.edit textarea.field {
			background: hsla(0,0%,100%,0.1) !important;
			color: white !important;
		}
		.helper { background: transparent; }
		.card-detail-item-add-button {
			background: transparent;
			&:hover { background: transparent; span { color: white !important; } }
		}


		.quiet.u-bottom:hover a { background: transparent !important; }

		.checklist-progress-bar { background: hsla(0,0%,100%,0.1); }
		.checklist-progress-bar-current { background: white; }
		.checklist-item { border-radius: 14px 0 0 14px; &.placeholder { background: hsla(0,0%,0%,0.5); } }
		.js-checkitem-input { color: white; }
		.checklist-item {
			.checklist-item-details-text { color: white; }
			&:hover { background: hsla(0,0%,100%,0.1); }
			&.checklist-item-state-complete {
				.checklist-item-details-text { color: hsla(0,0%,100%,0.3); }
				.checklist-item-checkbox { background: hsla(0,0%,100%,0.1); }
			}
			.icon-check {
				width: 24px;
				height: 24px;
				&:before {
					margin-top: 4px;
					display: inline-block;
					color: white;
				}
			}
		}
		.checklist-item-checkbox {
			border: none !important;
			border-radius: 32px;
			top: -3px;
			left: 2px;
			height: 24px;
			width: 24px;
			background: hsla(0,0%,100%,0.05);
		}
		.checklist-new-item {
			margin-top: 6px;
			&.focus textarea {
				background: hsla(0,0%,100%,0.1) !important;
				max-height: 32px !important;
				border-radius: 0;
				border: none !important;
				box-shadow: none !important;
				color: white !important;
			}
		}
		.checklist-new-item-text {
			border: none !important;
			box-shadow: none !important;
			overflow: hidden !important;
			&:hover { background: hsla(0,0%,100%,0.05) !important; }
		}

		.new-comment {
			.comment-frame {
				background: hsla(0,0%,100%,0.05) !important;
				border-radius: 0 !important;
			}
			&.is-focused .comment-frame { background: hsla(0,0%,100%,0.1) !important; }
		}
		.comment-box-input { color: white; }
		.phenom.mod-comment-type { border: none !important; }
		.phenom-desc { margin-top: 10px; }
		.inline-member { color: white; }
		.action-comment {
			background: transparent !important;
			box-shadow: none;

			.current-comment { padding: 6px 0; }
			p { color: hsla(0,0%,100%,0.5); padding: 2px 0; }
			.comment-box-input { background: hsla(0,0%,100%,0.05) !important; border-radius: 0 !important; }
		}
		.phenom-meta.quiet { padding: 6px 0; }
	}
}
.js-add-list {
	background: hsla(0,0%,10%,0.8) !important;
	border-radius: 0 !important;
}
.list-name-input { color: white; }
// Wide Card
body.fixed-content #content{ width:890px !important; }
div.window { width:890px !important; }
div.window-main-col { width:672px !important; overflow-x: visible !important; overflow-y: visible !important; }
.description-content-fade-button {
	background: linear-gradient(180deg, hsla(0,0%,10%,0), hsla(0,0%,10%,0) 370px, hsla(0,0%,10%,0.9) 400px) !important;

	.description-content-fade-button-text {
		background: hsla(0,0%,10%,0) !important;
		color: hsl(0,0%,50%) !important;
	}

	&:hover {
		background: linear-gradient(180deg, hsla(0,0%,10%,0), hsla(0,0%,10%,0) 370px, hsla(0,0%,10%,0.9) 400px) !important;
		.description-content-fade-button-text { color: white !important; }
	}
}

// -------------------------------------
// Shortcuts ---------------------------
h2 {
	color: white;
	margin: 0 0 9px 10px;
}
.shortcut-list { width: 770px; }
.shortcut-list-item {
	border-bottom: 1px solid hsl(0,0%,50%);
	h3 { color: white; }
	color: hsl(0,0%,50%);

	.keyboard-key {
		background: hsl(0,0%,20%);
		color: white;
		border-radius: 0;
	}
}



// -------------------------------------
// COLOR INFLUENCE ---------------------
$colors: rgb(0, 121, 191), rgb(210, 144, 52), rgb(81, 152, 57), rgb(176, 70, 50), rgb(137, 96, 158), rgb(205, 90, 145), rgb(75, 191, 107), rgb(0, 174, 204), rgb(131, 140, 145);

@each $item in $colors {
	$col: str-insert(str-insert(str-slice(quote(rgba($item, 0.9)), 5, str-length(quote(rgba($item, 0.9))) - 6), ')', str-length(quote(rgba($item, 0.9))) - 5), 'rgb', 0);
	#classic-body[style*="background-color: #{$col}"] {
		// background: $item;
		.checklist-progress-bar-current,
		.u-fancy-scrollbar::-webkit-scrollbar-thumb { background: lighten($item, 20) !important; }
		.checklist-item .icon-check:before,
		.window-sidebar .button-link:hover { color: $item !important; }
		.badge.is-complete { background-color: $item; }
		pre::-webkit-scrollbar-thumb { background: transparentize($item, 0.3) !important; }
	}
}
