@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
* {
  font-family: 'Open Sans', sans-serif; }

.no-display {
  display: none; }

body {
  background: #1a1a1a;
  margin: 0;
  overflow-x: hidden;
  min-width: 990px; }

#header {
  position: relative;
  background: -webkit-linear-gradient(345deg, #5461C0 0%, #8120D3 50%, #964FE9 50%, #972ED8 100%);
  background: -o-linear-gradient(345deg, #5461C0 0%, #8120D3 50%, #964FE9 50%, #972ED8 100%);
  background: linear-gradient(105deg, #5461C0 0%, #8120D3 50%, #964FE9 50%, #972ED8 100%);
  width: 100%;
  height: 256px; }
  #header img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

#content {
  width: 970px;
  height: calc(100vh - 256px - 16px);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  #content .option-io {
    position: relative;
    width: 100%;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease; }
    #content .option-io.show-back {
      width: 320px; }
    #content .option-io ul.settings {
      width: 320px;
      margin: auto; }
    #content .option-io .title {
      position: relative;
      width: 320px;
      margin: auto;
      padding: 18px 0; }
      #content .option-io .title p {
        color: white;
        padding: 0;
        margin: 0;
        -webkit-transition: 0.2s ease;
        -o-transition: 0.2s ease;
        transition: 0.2s ease; }
      #content .option-io .title img.back-btn {
        position: absolute;
        padding: 20px 0;
        top: 0;
        left: 64px;
        opacity: 0;
        pointer-events: none;
        cursor: pointer;
        -webkit-transition: 0.2s ease;
        -o-transition: 0.2s ease;
        transition: 0.2s ease; }
    #content .option-io.show-back .title p {
      opacity: 0;
      margin-right: 64px; }
    #content .option-io.show-back .title img.back-btn {
      left: 0;
      opacity: 0.5;
      pointer-events: auto; }
      #content .option-io.show-back .title img.back-btn:hover {
        opacity: 0.8; }
  #content .option-details {
    position: relative;
    height: 100%;
    width: 0%;
    opacity: 0;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    overflow-x: hidden; }
    #content .option-details.show {
      width: 100%;
      opacity: 1; }
    #content .option-details::-webkit-scrollbar {
      width: .5em; }
    #content .option-details::-webkit-scrollbar-track {
      background-color: transparent; }
    #content .option-details::-webkit-scrollbar-thumb {
      background-color: #262626; }
    #content .option-details .detail-pane {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      pointer-events: none;
      margin-left: 64px;
      width: 640px;
      height: 0;
      overflow: hidden;
      -webkit-transition: 0.2s ease;
      -o-transition: 0.2s ease;
      transition: 0.2s ease; }
      #content .option-details .detail-pane.show {
        height: auto;
        -webkit-transition: 0.2s ease;
        -o-transition: 0.2s ease;
        transition: 0.2s ease;
        margin-left: 0;
        pointer-events: auto;
        opacity: 1; }
      #content .option-details .detail-pane p.title {
        margin-bottom: 36px; }
      #content .option-details .detail-pane p:not(.title) {
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px; }
      #content .option-details .detail-pane ul.settings {
        margin: 0 0; }
  #content p {
    color: white;
    font-size: 16px;
    font-weight: lighter; }

ul.settings {
  width: 100%;
  margin: auto;
  list-style: none;
  padding: 0; }
  ul.settings.narrow-width {
    width: 320px; }
  ul.settings.grid-list li {
    display: grid;
    grid-template-columns: 64px auto; }
  ul.settings li {
    width: 100%;
    position: relative; }
    ul.settings li div {
      color: white; }
      ul.settings li div.checkbox label {
        padding: 8px 0;
        display: block;
        position: relative;
        width: 64px;
        height: 32px;
        cursor: pointer; }
      ul.settings li div.checkbox input[type="checkbox"] {
        display: none; }
      ul.settings li div.checkbox input[type="checkbox"] + label:before {
        content: '';
        display: block;
        width: 64px;
        height: 32px;
        position: absolute;
        top: 8px;
        left: 0;
        -webkit-transition: 0.1s ease;
        -o-transition: 0.1s ease;
        transition: 0.1s ease;
        border-radius: 32px;
        background: rgba(255, 255, 255, 0.05); }
      ul.settings li div.checkbox input[type="checkbox"]:checked + label:before {
        background: rgba(165, 119, 194, 0.2); }
      ul.settings li div.checkbox input[type="checkbox"] + label:after {
        content: '';
        display: block;
        width: 26px;
        height: 26px;
        position: absolute;
        top: 11px;
        left: 3px;
        -webkit-transition: 0.1s ease;
        -o-transition: 0.1s ease;
        transition: 0.1s ease;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 27px; }
      ul.settings li div.checkbox input[type="checkbox"] + label:active:after {
        width: 32px; }
      ul.settings li div.checkbox input[type="checkbox"]:checked + label:after {
        left: 35px;
        background: #972ED8; }
      ul.settings li div.checkbox input[type="checkbox"]:checked + label:active:after {
        left: 29px; }
      ul.settings li div.setting-label {
        position: relative;
        cursor: pointer; }
        ul.settings li div.setting-label p {
          font-size: 16px;
          margin-top: 13px;
          margin-left: 24px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
        ul.settings li div.setting-label img {
          position: absolute;
          top: 18px;
          right: 24px;
          opacity: 0.25; }
      ul.settings li div.gradient-display {
        width: 100%;
        height: 32px;
        background: #262626;
        -webkit-transition: 0.2s ease;
        -o-transition: 0.2s ease;
        transition: 0.2s ease;
        background: -webkit-gradient(linear, left top, right top, from(#0474B0), to(#B5EFA1));
        background: -webkit-linear-gradient(left, #0474B0, #B5EFA1);
        background: -o-linear-gradient(left, #0474B0, #B5EFA1);
        background: linear-gradient(90deg, #0474B0, #B5EFA1);
        cursor: pointer; }
      ul.settings li div.gradient-options {
        height: 66px;
        background: rgba(20, 20, 20, 0.5);
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        -webkit-transition: 0.2s ease;
        -o-transition: 0.2s ease;
        transition: 0.2s ease;
        display: grid;
        grid-template-columns: 262px auto; }
        ul.settings li div.gradient-options div {
          position: relative; }
        ul.settings li div.gradient-options .colors {
          display: grid;
          grid-template-columns: repeat(4, 92px);
          margin-left: 15px; }
          ul.settings li div.gradient-options .colors .color .color-select {
            width: 80px;
            height: 30px;
            overflow: hidden;
            background: #222;
            position: relative; }
            ul.settings li div.gradient-options .colors .color .color-select:after {
              content: '';
              height: 100%;
              width: 18px;
              background: rgba(13, 13, 13, 0.5);
              position: absolute;
              top: 0;
              right: -18px;
              -webkit-transition: 0.2s ease;
              -o-transition: 0.2s ease;
              transition: 0.2s ease; }
            ul.settings li div.gradient-options .colors .color .color-select:hover:after {
              right: 0px; }
            ul.settings li div.gradient-options .colors .color .color-select input[type="color"] {
              cursor: pointer;
              border: none;
              border-color: transparent;
              background: transparent;
              height: 46px;
              width: 88px;
              padding: 0;
              margin: 0;
              margin-left: -4px;
              margin-top: -5px;
              -webkit-appearance: button; }
            ul.settings li div.gradient-options .colors .color .color-select#addColorBtn {
              position: relative;
              cursor: pointer; }
              ul.settings li div.gradient-options .colors .color .color-select#addColorBtn:before, ul.settings li div.gradient-options .colors .color .color-select#addColorBtn:after {
                content: '';
                background: #414141;
                position: absolute;
                width: 16px;
                height: 2px;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
              ul.settings li div.gradient-options .colors .color .color-select#addColorBtn:after {
                -webkit-transform: translate(-50%, -50%) rotate(90deg);
                -ms-transform: translate(-50%, -50%) rotate(90deg);
                transform: translate(-50%, -50%) rotate(90deg);
                -webkit-transform-origin: center;
                -ms-transform-origin: center;
                transform-origin: center; }
          ul.settings li div.gradient-options .colors .color input[type="number"] {
            right: 12px !important;
            padding: 0 14px 0 2px !important; }
          ul.settings li div.gradient-options .colors .color .symbol {
            right: 18px;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            top: 1px; }
        ul.settings li div.gradient-options .symbol {
          position: absolute;
          top: 0;
          right: 2px;
          width: 6px;
          line-height: 29px;
          opacity: 0.4; }
        ul.settings li div.gradient-options input[type="number"] {
          position: absolute;
          top: 0;
          right: 0;
          height: 29px;
          max-width: 42px;
          border: none;
          background: -webkit-gradient(linear, left top, right top, from(rgba(38, 38, 38, 0)), to(#262626));
          background: -webkit-linear-gradient(left, rgba(38, 38, 38, 0), #262626);
          background: -o-linear-gradient(left, rgba(38, 38, 38, 0), #262626);
          background: linear-gradient(90deg, rgba(38, 38, 38, 0), #262626);
          text-align: right;
          color: gray;
          padding: 0 10px 0 6px; }
          ul.settings li div.gradient-options input[type="number"]:focus {
            outline: none; }
          ul.settings li div.gradient-options input[type="number"]::-webkit-outer-spin-button, ul.settings li div.gradient-options input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            background: none;
            width: 0;
            border-left: none;
            opacity: .5;
            /* shows Spin Buttons per default (Chrome >= 39) */
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0; }
      ul.settings li div.close-btn {
        position: absolute;
        top: 38px;
        right: 0;
        padding: 18px;
        cursor: pointer;
        opacity: 0;
        pointer-events: none;
        -webkit-transition: 0.2s ease;
        -o-transition: 0.2s ease;
        transition: 0.2s ease; }
        ul.settings li div.close-btn:after, ul.settings li div.close-btn:before {
          content: '';
          width: 18px;
          height: 2px;
          background: white;
          position: absolute;
          top: 18px;
          right: 10px;
          -webkit-transform-origin: center;
          -ms-transform-origin: center;
          transform-origin: center;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
        ul.settings li div.close-btn:after {
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
    ul.settings li .gradient-title {
      display: block;
      margin-top: 30px;
      font-size: 16px !important; }
    ul.settings li.show .gradient-display {
      height: 320px; }
    ul.settings li.show .gradient-options {
      max-height: 128px;
      opacity: 1; }
    ul.settings li.show .close-btn {
      opacity: 0.5;
      pointer-events: auto; }
      ul.settings li.show .close-btn:hover {
        opacity: 1; }
    ul.settings li#blue .gradient-title {
      color: #0079BF !important; }
    ul.settings li#orange .gradient-title {
      color: #D29034 !important; }

.label {
  font-size: 12px !important;
  margin: 0;
  padding: 6px 0;
  min-height: 17px; }

.slider {
  padding-left: 6px;
  padding-right: 6px; }
  .slider input[type="range"] {
    margin: 0;
    -webkit-appearance: none;
    width: 256px;
    position: relative; }
    .slider input[type="range"]:focus {
      outline: none; }
    .slider input[type="range"]::-webkit-slider-runnable-track {
      background: url("https://i.imgur.com/X68iIhs.png");
      height: 30px; }
    .slider input[type="range"]::-webkit-slider-thumb {
      width: 14px;
      height: 100%;
      border: none;
      -webkit-appearance: none;
      background-color: rgba(255, 255, 255, 0.5);
      z-index: 99;
      position: relative;
      -webkit-transition: 0.5s all ease;
      -o-transition: 0.5s all ease;
      transition: 0.5s all ease; }
