// Color Variables
$dark        : hsl(0,0%,10%);
$light-dark  : hsl(0,0%,20%);
$brand-bright: #972ED8;
$brand-dull  : #5152B1;

// Import Font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
* { font-family: 'Open Sans', sans-serif; }

// Misc Classes
.no-display { display: none; }

body {
    background: $dark;
    margin: 0;
    overflow-x: hidden;
    min-width: 990px;
}

// Landing Image/Header
#header {
    background: url('http://trelloergo.sepshun.io/assets/img/featuresGraphic.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    width: 100%;
    height: 256px;
}

// Content
#content {
    width: 970px;
    height: calc(100vh - 256px - 16px);
    margin: auto;

    display: flex;

    .option-io {
        position: relative;
        width: 100%;
        &.show-back { width: 320px; }
        ul.settings { width: 320px; margin: auto; }
        transition: 0.2s ease;

        .title {
            position: relative;
            width: 320px;
            margin: auto;
            padding: 18px 0;

            p {
                color: white;
                padding: 0;
                margin: 0;
                transition: 0.2s ease;
            }

            img.back-btn {
                position: absolute;
                padding: 20px 0;
                top: 0;
                left: 64px;
                opacity: 0;
                pointer-events: none;
                cursor: pointer;
                transition: 0.2s ease;
            }
        }
        &.show-back .title {
            p {
                opacity: 0;
                margin-right: 64px;
            }
            img.back-btn {
                left: 0;
                opacity: 0.5;
                pointer-events: auto;
                &:hover { opacity: 0.8; }
            }
        }
    }
    .option-details {
        position: relative;
        width: 0%;
        opacity: 0;
        transition: 0.2s ease;
        &.show { width: 100%; opacity: 1; }

        overflow-y: auto;
        overflow-x: hidden;
        &::-webkit-scrollbar { width: .5em; }
        &::-webkit-scrollbar-track { background-color: transparent; }
        &::-webkit-scrollbar-thumb { background-color: #262626;     }

        .detail-pane {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            pointer-events: none;
            margin-left: 64px;
            width: 640px;
            transition: 0.2s ease;
            &.show {
                margin-left: 0;
                pointer-events: auto;
                opacity: 1;
            }

            p.title { margin-bottom: 36px; }
            p:not(.title) {
                color: hsla(0,0%,100%,0.5);
                font-size: 14px;
            }

            ul.settings { margin: 0 0; }
        }
    }

    p {
        color: white;
        font-size: 16px;
        font-weight: lighter;
    }
}


// Settings List
ul.settings {
    width: 100%;
    &.narrow-width { width: 320px; }
	margin: auto;
	list-style: none;
	padding: 0;

    &.grid-list li { display: grid; grid-template-columns: 64px auto; }
	li {
        width: 100%;
        position: relative;

		div {
			color: white;

			&.checkbox {
				label {
					padding: 8px 0;
					display: block;
					position: relative;
					width: 64px;
					height: 32px;
					cursor: pointer;
				}
				input[type="checkbox"] { display: none; }
				input[type="checkbox"] + label:before {
					content: '';
					display: block;
					width: 64px;
					height: 32px;
					position: absolute;
					top: 8px;
					left: 0;
					transition: 0.1s ease;
					border-radius: 32px;
					background: transparentize(#fff, 0.95);
				}
				input[type="checkbox"]:checked + label:before {
					background: transparentize(lighten(desaturate($brand-bright, 30%), 10%), 0.8);
				}

				input[type="checkbox"] + label:after {
					content: '';
					display: block;
					width: 26px;
					height: 26px;
					position: absolute;
					top: 11px;
					left: 3px;
					transition: 0.1s ease;
					background: hsla(0,0%,100%,0.1);
					border-radius: 27px;
				}
				input[type="checkbox"] + label:active:after { width: 32px; }

				input[type="checkbox"]:checked + label:after {
					left: 35px;
					background: $brand-bright;
				}
				input[type="checkbox"]:checked + label:active:after { left: 29px; }
			}
			&.setting-label {
				position: relative;
				cursor: pointer;
				p {
					font-size: 16px;
					margin-top: 13px;
					margin-left: 24px;
                    user-select: none;
				}
				img {
					position: absolute;
					top: 18px;
					right: 24px;
					opacity: 0.25;
				}
			}

            &.gradient-display {
                width: 100%;
                height: 32px;
                background: hsl(0,0%,15%);
                transition: 0.2s ease;
                background: linear-gradient(90deg, #0474B0, #B5EFA1);
                cursor: pointer;
            }
            &.gradient-options {
                height: 66px;
                background: hsla(0,0%,8%,0.5);
                max-height: 0;
                overflow: hidden;
                opacity: 0;
                transition: 0.2s ease;

                display: grid;
                grid-template-columns: 256px auto;

                // COLOR INPUTS
                .colors {
                    display: grid;
                    grid-template-columns: repeat(4, 92px);
                    margin-left: 18px + 8px;
                    .color {

                        .color-select {
                            width: 80px;
                            height: 30px;
                            overflow: hidden;
                            background: #222;
                            position: relative;

                            &:after {
                                content: '';
                                height: 100%;
                                width: 18px;
                                background: hsla(0,0%,5,0.5);
                                position: absolute;
                                top: 0;
                                right: -18px;
                                transition: 0.2s ease;
                            }
                            &:hover:after { right: 0px; }

                            input[type="color"] {
                                cursor: pointer;
                                border: none;
                                border-color: transparent;
                                background: transparent;
                                height: 46px;
                                width: 88px;
                                padding: 0;
                                margin: 0;
                                margin-left: -4px;
                                margin-top: -5px;
                                -webkit-appearance: button;
                            }
                            &#addColorBtn {
                                position: relative;
                                cursor: pointer;

                                &:before, &:after {
                                    content: '';
                                    background: #414141;
                                    position: absolute;
                                    width: 16px;
                                    height: 2px;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%,-50%);
                                }
                                &:after {
                                    transform: translate(-50%,-50%) rotate(90deg);
                                    transform-origin: center;
                                }
                            }
                        }
                    }
                }
            }
            &.close-btn {
                position: absolute;
                top: 38px;
                right: 0;
                padding: 24px;
                cursor: pointer;
                opacity: 0;
                pointer-events: none;
                transition: 0.2s ease;

                &:after, &:before {
                    content: '';
                    width: 28px;
                    height: 2px;
                    background: white;
                    position: absolute;
                    $offset: 10px;
                    top: $offset + 14px;
                    right: $offset;
                    transform-origin: center;
                    transform: rotate(45deg);
                }
                &:after { transform: rotate(-45deg); }
            }
		}
        .gradient-title {
            display: block;
            margin-top: 30px;
            font-size: 16px !important;
        }
        &.show {
            .gradient-display { height    : 320px; }
            .gradient-options { max-height: 128px; opacity: 1; }
            .close-btn { opacity: 0.5; pointer-events: auto; &:hover { opacity: 1; } }
        }

        &#blue   { .gradient-title { color: #0079BF !important; } }
        &#orange { .gradient-title { color: #D29034 !important; } }
	}
}


// CUSTOM SELECTS
.label {
    font-size: 12px !important;
    margin: 0;
    padding: 6px 0;
}
.slider {
    padding-left: 6px;
    input[type="range"] {
        margin: 0;
        -webkit-appearance: none;
        width: 256px;
        position: relative;

        &:focus { outline: none; }

        &::-webkit-slider-runnable-track {
            background: url('https://i.imgur.com/X68iIhs.png');
            height: 30px;
        }

        &::-webkit-slider-thumb {
            width: 14px;
            height: 100%;
            border: none;
            -webkit-appearance: none;
            background-color: hsla(0%,0%,100%,0.5);
            z-index: 99;
            position: relative;
            transition: 0.5s all ease;
        }
    }
}
